


.flex-container{
    display: flex;
}

header{
    background-image: url("img/jumbo.png");
}

.h-logo-login{
    width: 20%;
}

.h-ul{
    width: 60%;
}

ul{
    list-style-type: none;
    justify-content: center;
}

li{
    padding-right: 3%;
}

.standard{
    width:90%;
    margin: auto;
    max-width: 800px;
    align-items: center;
    justify-content: center;
}



.login-button{
    text-align: right;
    border: 1px solid rgb(71, 71, 255);
    border-radius: 20px;
    height:30px;
    padding: 1%;
    width: auto;
}


.white-text{
    color:white;
    font-family: 'Cabin', sans-serif;
}


.black-text{
    color:rgb(0, 0, 0);
    font-family: 'Cabin', sans-serif;
}


.container2{
    height:800px;
    align-items: center;
}

.hotpink-rect{
    height: 400px;
    width:90%;
    margin:auto;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

p{
    font-size: 1.25rem;
    text-align: center;
}

.download-button{
    justify-content: center;
    margin: 5%;
}

.downloader1{
    margin:2%;
    border-radius: 20px;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 1px solid rgb(71, 71, 255);
}


.browser-open{
    margin:2%;
    border-radius: 20px;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    background-color: black;
    border: 1px solid black;
}


.blue-rec{
    
    height: 600px;
    width:60%;
    margin: auto;
    margin-right: 0%;
    margin-top: 15%;
}


.img-main{
    height: 300px;
}

.pink-rec{
    
    height: 600px;
    width:40%;
    margin:  auto;
    margin-left: 0%;
    margin-top: 15%;
}


.reverse1{
    margin-left:auto;
    margin-right: 0%;
}
.reverse2{
    margin-right:auto;
    margin-left: 0%;
}

.green-rec{
    width: 100%;
    height: 1000px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.img-main2{
    width:100%;
    height:430px;
    margin-top: 0%;
}


.end-main{
    flex-direction: column;
    align-items: center;
}

.downloader2{   
    background-color: rgb(110, 110, 243);
    margin:2%;
    border-radius: 20px;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 1px solid rgb(225, 224, 224);
}


#bg-star{
    background-image: url(img/stars.svg);
    padding-top: 5%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 0%;
}

.container-g{
    background-color: rgb(225, 224, 224);
    height: 1000px ;
    justify-content: center;
    align-items: flex-end;
}

footer{
    background-color: rgb(53, 51, 51);
    height: 1000px;
}

.lightpink-rec{
    height: 300px;
    width: 40%;
    margin-top: 8%;
}

.cyan-rec{
    margin-top: 8%;
    height: 300px;
    width: 20% ;
}

#hr-bianco{
    margin:2%;
}


.space{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.blue-text{
    color:rgb(110, 110, 243);
    font-family: 'Cabin', sans-serif;
}


.img-footer1{
    height: 15px;
}

select{
    background-color: rgb(53, 51, 51) ;
    border-color: rgb(53, 51, 51);
}

.icon{
    margin-top:7%;
    margin-right: 7%;
}


.ul-footer{
    line-height:1.5rem;
    margin-top: auto;
}

.margin-h-footer{
    margin: auto;
    margin-bottom: 7%;
}

.right{
    justify-content: flex-end;
}


